<html>
    <head>
        <link rel="stylesheet" href="home.css">
    </head>
    <body>
        <div class="home-p">
            <div class="all">
                <div class="capsule">
                    <div class="capsule_img">
                        <img src="img/capsule.png" alt="">
                    </div>
                    <div class="capsule_text">
                        <h1>Capsule</h1>
                    </div>

                </div>
                <div class="nav-menu">
                    <ul>
                        <li ><a class="link">Home</a></li>
                        <li ><a class="link">About</a></li>
                        <li ><a class="link">Services</a></li>
                        <li ><a class="link">Contact Us</a></li>
                        <li><a class="link">Login</a></li>
                    </ul>

                </div>


            </div>
              <div class="welcome">
                <h1>Welcome,You</h1>
                <p>
                    to the world of health and beauty
                </p>
                <button>Shop now</button>

             </div>
        </div>
        

        <div class="categories">
            <h3 class="special">Categories</h3>
            <div class="cart">
                
                <img src="img/medication.jpg" alt="">
                <p>Medications</p>
            </div>
            <div class="cart">
                <img src="img/skin.jpg" alt="">
                <p>Skin Care</p> 
            </div>
            <div class="cart">
                <img src="img/hair.jpg" alt="">
                <p>Hair Care</p>
            </div>
            <div class="cart">
                <img src="img/mom.jpg" alt="">
                <p>Baby & Mom </p>
            </div>
            <div class="cart">
                <img src="img/Frame-2457-4_1667482979.webp" alt="">
                <p>Makeup & Accessories </p>
            </div>

        </div>



       
        


        <div class="r1">
            <h3 class="special">Best Selling</h3>
            <div class="c1">
                
                <img src="img/hero.webp" alt="" class="centre ">
                <p>Hero Baby | Nutrasense 2</p>
                <h3>349 EGP</h3>
                <button>Add to card</button>
                
            </div>
            <div class="c1">
                
                <img src="img/oil.webp" alt="" class="centre ">
                <p>Johnson's Baby Oil </p>
                <h3>90 EGP</h3>
                <button>Add to card</button>
            </div>
            <div class="c1">
               
                <img src="img/molfix.webp" alt="" class="centre ">
                <p>Molfix | Junior Baby Diaper   </p>
                <h3>385 EGP</h3>
                <button>Add to card</button>
            </div>
            <div class="clr"></div>
        </div>
        <div class="offers">
            <h3 class="special">Offers</h3>
            <div class="f1">
             <img src="img/lashes.webp" alt="">
             <p>For Women</p>
             <h3>25% OFF</h3>
             <button> order now</button>
            </div>
            <div class="f1">
                <img src="img/pants.webp" alt="">
                <p>For Babies</p>
                <h3>25% OFF</h3>
                <button>order now</button>
            </div>
            <div class="f1">
                <img src="img/h-baby.webp" alt="">
                <p>For Babies </p>
                <h3>300 EGP</h3>
                <button>order now</button>

            </div>
      <div class="clr"></div>
        </div>
       <div class="brand">
        <h3 class="special">Brand</h3>
        <div class="b">
            <p>Beesline</p>
        </div>
        <div class="b">
            <p>Luna</p>
        </div>
        <div class="b">
            <p>Molfix</p>
        </div>
       </div>
      <div class="footer ">
        <div class="contacts_apps">
            <div class="face_book">
                <div class="facephoto">
                     <img src="img/facebook (2).png">
                </div>
                <div class="face_book_text"> <h4>Capsule@yahoo.com</h4></div>
               
            </div>
            <div class="insta">
                <div class="facephoto">
                     <img src="img/instagram (1).png">
                </div>
                <div class="insta_text"> <h4>Capsule@insta.com</h4></div>
               
            </div>
            <div class="phone">
                <div class="facephoto">
                     <img src="img/phone.jpg">
                </div>
                <div class="phone_text"> <h4>01025477781</h4></div>
               
            </div>
        
      </div>

    </body>
</html>