{%load static%}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/home.css'%}">
    </head>
    <body>
        <div class="home-p "style="background-image :url('{% static '/img/background.avif'%}');">
            <div class="all"> 
                <div class="capsule">
                    <div class="capsule_img">
                        <img src="{% static 'img/capsule.png' %}" alt="">
                    </div>
                    <div class="capsule_text">
                        <h1>Capsule</h1>
                    </div>

                </div>
                <div class="nav-menu">
                    <ul>
                        <li ><a class="link" href="{% url 'home' %} ">Home</a></li>
                        <li ><a class="link" href="{% url 'about' %}">About</a></li>
                        <li ><a class="link" href="{% url 'services' %}">Services</a></li>
                        <li ><a class="link"  href="{% url 'contactus' %}">Contact Us</a></li>
                        <li><a class="link"  href="{% url 'login' %}">Login</a></li>
                    </ul>

                </div>


            </div>
              <div class="welcome">
                <h1>Welcome,You</h1>
                <p>
                    to the world of health and beauty
                </p>
                <button>Shop now</button>

             </div>
        </div>
        

        <div class="categories">
            <h3 class="special">Categories</h3>
            <div class="cart">
                
                <img src=" {%static 'img/medication.jpg'%}" alt="">
                <a href="{% url 'medication' %} "><p>Medications</p></a>
            </div>
            <div class="cart">
                <img src=" {%static 'img/skin.jpg'%}" alt="">
                <a href="{% url 'skincare' %} "><p>Skin Care</p></a>
            </div>
            <div class="cart" >
              <img src=" {%static 'img/hair.jpg'%}" alt="">
              <a href="{% url 'haircare' %} "><p>Hair Care</p></a>
            </div>
            <div class="cart">
                <img src=" {%static 'img/mom.jpg'%}" alt="">
                <a href="{% url 'babymom' %} "><p>Baby & Mom </p></a>
            </div>
            <div class="cart">
                <img src=" {%static 'img/Frame-2457-4_1667482979.webp'%}" alt="">
                <a href="{% url 'makeup' %} "><p>Makeup & Accessories</p></a>
            </div>

        </div>



       
        


        <div class="r1">
            <h3 class="special">Trending</h3>
            <div class="c1">
                
                <img src=" {%static 'img/hero.webp'%}" alt="" class="centre ">
                <p>Hero Baby | Nutrasense 2</p>
                <h3>349 EGP</h3>
                <button>Add to card</button>
                
            </div>
            <div class="c1">
                
                <img src=" {%static 'img/oil.webp'%}" alt="" class="centre ">
                <p>Johnson's Baby Oil </p>
                <h3>90 EGP</h3>
                <button>Add to card</button>
            </div>
            <div class="c1">
               
                <img src=" {%static 'img/molfix.webp'%}" alt="" class="centre ">
                <p>Molfix | Junior Baby Diaper   </p>
                <h3>385 EGP</h3>
                <button>Add to card</button>
            </div>
            <div class="clr"></div>
        </div>
        <div class="offers">
            <h3 class="special">Offers</h3>
            <div class="f1">
             <img src=" {%static 'img/lashes.webp'%}" alt="">
             <p>For Women</p>
             <h3>25% OFF</h3>
             <button> order now</button>
            </div>
            <div class="f1">
                <img src=" {%static 'img/pants.webp'%}" alt="">
                <p>For Babies</p>
                <h3>25% OFF</h3>
                <button>order now</button>
            </div>
            <div class="f1">
                <img src=" {%static 'img/h-baby.webp'%}" alt="">
                <p>For Babies </p>
                <h3>300 EGP</h3>
                <button>order now</button>

            </div>
      <div class="clr"></div>
        </div>
       <div class="brand">
        <h3 class="special">Brand</h3>
        <div class="b">
            <p>Beesline</p>
        </div>
        <div class="b">
            <p>Luna</p>
        </div>
        <div class="b">
            <p>Molfix</p>
        </div>
       </div>
      <div class="footer "style ="background-image :url('{% static '/img/contact.jpg'%}');">
        <div class="contacts_apps">
            <div class="face_book">
                <div class="facephoto">
                     <img src=" {%static 'img/facebook (2).png'%}">
                </div>
                <div class="face_book_text"> <h4>Capsule@yahoo.com</h4></div>
               
            </div>
            <div class="insta">
                <div class="facephoto">
                     <img src=" {%static 'img/insta.png'%}">
                </div>
                <div class="insta_text"> <h4>Capsule@insta.com</h4></div>
                    
            </div>
            <div class="phone">'
                <div class="facephoto">
                     <img src=" {%static 'img/phone.jpg'%}">
                </div>
                <div class="phone_text"> <h4>01025477781</h4></div>
               
            </div>
        
      </div>

    </body>
</html>