{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/medicine.css'%}">
    </head>
    <body>
        <div class="all">
            <div class="capsule">
             <div class="capsule_img" >
            <img src="{% static 'img/capsule.jpg'%}" alt="">
             </div>
             <div class="capsule_text">
             <h1>Capsule</h1>
             </div>
            </div>
            <div class="login">
            <a href="{% url 'login' %}">Login</a>
            </div>
        </div>
        <div class="Navbar">
            <div class="include">
                <div class="off">
                    <button class="off_b">offers</button>
                 </div>
                 <div class="search">
                     <input type="text" placeholder="search for product " class="search-p">
     
                 </div>
            </div>

            <div class="icons">
                <div class="wish">
                 
                 <div class="wish-txt">
                    <a href="{% url 'wish' %}"><p>wishlist</p></a> 
                 </div>
                    <div class="wish-img">
                        <img src="{% static 'img/heart.jpg'%}" alt="">
                        </div>
                 
                 
                </div>
                <span> |</span>
                <div class="wish">
                    <div class="wish-txt">
                        <a href="{% url 'fullcart' %}"><p>cart</p></a> 

                       </div>
   
                    <div class="cart-img">
                        <img src="{% static 'img/cart.jpeg'%}" alt="">
                    </div>
                    
                </div>

            </div>

         </div>
        

        <div class="container">
            <div class="c_logo">
             <img src="{% static 'img/skin.webp'%}" alt="">
            </div>
            <div class="c_text">
             <h2>Skin Care</h2>
            </div>
    
           </div>
    
       
        <!-- categories  -->

    <div class="r1">
        <div class="c1">
            <img src="{% static 'img/heart.jpg'%}" alt="" class="logo">
            <img src="{% static 'img/nivea-anti-perspirant-protect-and-care-deodorant-stick-40-ml-01655297494.webp'%}" alt="" class="centre ">
            <p>Nivea | Protect & Care, Antiperspirant for Women</p>
            <h3>150 EGP</h3>
            
        <button >Add to card</button>
   
        </div>
        <div class="c1">
            <img src="{% static 'img/heart.jpg'%}" alt="" class="logo">
            <img src="{% static 'img/nivea-soft-moisturizing-cream-refreshingly-soft-50ml-01655029300.webp'%}" alt="" class="centre ">
            <p>Nivea | Soft Refreshing & Moisturizing Cream</p>
            <h3>41.99 EGP</h3>
            <button>Add to card</button>
        </div>
        <div class="c1">
            <img src="{% static 'img/heart.jpg'%}" alt="" class="logo">
            <img src="{% static 'img/bepanthin.webp'%}" alt="" class="centre ">
            <p>Bepanthen | Lotion | 200ml </p>
            <h3>269 EGP</h3>
            <button>Add to card</button>
        </div>
        <div class="clr"></div>
    </div>

    <!-- الصف التاني  -->

    <div class="r1">
        <div class="c1">
            <img src="{% static 'img/heart.jpg'%}" alt="" class="logo">
            <img src="{% static 'img/starville-micellar-water-200ml-u8ct-01703077273.webp'%}" alt="" class="centre ">
            <p>Starville | Micellar Water | 200ml</p>
            <h3>100 EGP</h3>
            <button>Add to card</button>
            
        </div>
        <div class="c1">
            <img src="{% static 'img/heart.jpg'%}" alt="" class="logo">
            <img src="{% static 'img/beesline-whitening-roll-on-hair-delaying-beauty-pearl-multicolour-50ml-tjkm-01695229359.webp'%}" alt="" class="centre ">
            <p>Beesline | Whitening Roll On </p>
            <h3>499 EGP</h3>
            <button>Add to card</button>
        </div>
        <div class="c1">
            <img src="{% static 'img/heart.jpg'%}" alt="" class="logo">
            <img src="{% static 'img/neutrogenaskindetoxclarifyingclaywashmask-01662992521.webp'%}" alt="" class="centre ">
            <p>Neutrogena | Skin Detox Clarifying Clay  </p>
            <h3>120 EGP</h3>
            <button>Add to card</button>
        </div>
        <div class="clr"></div>
    </div>

     <!-- الصف الثالث  -->

     <div class="r1">
        <div class="c1">
            <img src="{% static 'img/heart.jpg'%}" alt="" class="logo">
            <img src="{% static 'img/eva.webp'%}" alt="" class="centre ">
           <p> Eva Skin Care | Evasiline Body Lotion</p>
            <h3>100 EGP</h3>
            <button>Add to card</button>
            
        </div>
        <div class="c1">
            <img src="{% static 'img/heart.jpg'%}" alt="" class="logo">
            <img src="{% static 'img/ultra.webp'%}" alt="" class="centre ">
            <p>Beesline | Ultra Screen Cream Active</p>
            <h3>360 EGP </h3>
            <button>Add to card</button>
        </div>
        <div class="c1">
            <img src="{% static 'img/heart.jpg'%}" alt="" class="logo">
            <img src="{% static 'img/isis.webp'%}" alt="" class="centre ">
            <p>Isis | Uveblock SPF 50+ Dry Touch Clair </p>
            <h3>559 EGP</h3>
            <button>Add to card</button>
        </div>
        <div class="clr"></div>
    </div>

    <!-- الصف الرابع   -->
    <div class="r1">
        <div class="c1">
            <img src="{% static 'img/heart.jpg'%}" alt="" class="logo">
            <img src="{% static 'img/babia.webp'%}" alt="" class="centre ">
            <p>Bobai | Tinted Sunscreen SPF 80 Cream</p>
            <h3>125 EGP</h3>
            <button>Add to card</button>
            
        </div>
        <div class="c1">
            <img src="{% static 'img/heart.jpg'%}" alt="" class="logo">
            <img src="{% static 'img/starville.webp'%}" alt="" class="centre ">
            <p>Starville | Whitening Roll On Orient Pearl</p>
            <h3>130 EGP</h3>
            <button>Add to card</button>
        </div>
        <div class="c1">
            <img src="{% static 'img/heart.jpg'%}" alt="" class="logo">
            <img src="{% static 'img/bobana.webp'%}" alt="" class="centre ">
            <p>Bobana | Charcoal Peel Off Face Mask  </p>
            <h3>60 EGP</h3>
            <button>Add to card</button>
        </div>
        <div class="clr"></div>
    </div>



    <div class="r1">
        <div class="c1">
            <img src="{% static 'img/heart.jpg'%}" alt="" class="logo">
            <img src="{% static 'img/soap.webp'%}" alt="" class="centre ">
            <p>Lit Up | Facial Cleansing & Clarifying Soap</p>
            <h3>60 EGP</h3>
            
        <button >Add to card</button>
   
        </div>
        <div class="c1">
            <img src="{% static 'img/heart.jpg'%}" alt="" class="logo">
            <img src="{% static 'img/spotless.webp'%}" alt="" class="centre ">
            <p>Eva Spotless | Cleansing Bar | 20gm</p>
            <h3>15 EGP</h3>
            <button>Add to card</button>
        </div>
        <div class="c1">
            <img src="{% static 'img/heart.jpg'%}" alt="" class="logo">
            <img src="{% static 'img/bobana-sheet-mask-pomegranate-hyaluronic-acid-x3km-01695242984.webp'%}" alt="" class="centre ">
            <p>BoBana | Sheet Mask Pomegranate </p>
            <h3>28.5 EGP</h3>
            <button>Add to card</button>
        </div>
        <div class="clr"></div>
    </div>


    </body>
</html>