{%load static %}
<html>
    <head>
   <link rel="stylesheet" href="{% static 'css/login.css'%}">
   <title>Login </title>
    </head>
    <body  style="background-image :url('{% static '/img/back.jpeg'%}');">
        <nav class="nav">
            <div class="nav-logo"> 
                <p>Capsule</p>
            </div>
            <div class="nav-menu" id="navMenu">
                <ul>
                    <li><a  class="link" href="{% url 'home' %}">Home</a></li>
                    <li><a  class="link"  href="{% url 'about' %}">About</a></li>
                    <li><a  class="link"  href="{% url 'services' %}">Services</a></li>
                    <li><a  class="link "  href="{% url 'contactus' %}">Contact Us</a></li>
                </ul>
            </div>
            <div class="nav-button">
                <button class="btn white-btn" id="loginBtn" onclick="location.href='{% url 'login' %}'">LOG IN</button>
                <button class="btn" id="registerBtn" onclick="location.href='{% url 'index' %}'">SIGN UP</button>
            </div>
            <div class="nav-menu-btn">
                <i class="bx bx-menu" onclick="myMenuFunction()"></i>
            </div>
        </nav>
        <div class="content">
            <h2>Log in </h2>
            <p> Welcome to our website !</p>

            <form action="">
               <label for="user">username</label>
               <input type="text" id="user" placeholder="enter your username">
               <label for="pass">passward</label>
               <input type="password" id="pass" placeholder="enter your passward">
               <button class="b1">LOGIN</button>

            </form>

        </div>

    </body>
</html>