<!DOCTYPE html>
<html lang="en">
<!--divinectorweb.com-->
<head>
    <meta charset="UTF-8">
    <title> Shopping Cart design</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="wish.css" rel="stylesheet">
</head>
<body>
		<h1>Wish List</h1>
        <div class="r1">
            <div class="c1">
                <img src="imges/heart_dif.png" alt="" class="logo">
                <img src="imges/s1.png" alt="" class="centre ">
                <p>Yolo Nail Polish - 214</p>
                <h3>55 EGP</h3>
                
                      <button >Add to card</button>
       
            </div>
            <div class="c1">
                <img src="imges/heart_dif.png" alt="" class="logo">
                <img src="imges/s2.png" alt="" class="centre ">
                <p>Yolo | Thinner Nail Polish</p>
                <h3>70 EGP</h3>
                <button>Add to card</button>
            </div>
            <div class="c1">
                <img src="imges/heart_dif.png" alt="" class="logo">
                <img src="imges/s3.png" alt="" class="centre ">
                <p>Luna | Special Lip Moisturizer Coconut </p>
                <h3>15 EGP</h3>
                <button>Add to card</button>
            </div>
            <div class="clr"></div>
            
        </div>
        <div class="goto">
            <h4><a href="#">Go To Home > </a></h4>
        </div>
</body>
</html>